@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Welcome if you want more information send email source0r32@gmail.com</p>

<p>Welcome if you want more information send email source0r32@gmail.com</p>

<p>Welcome if you want more information send email source0r32@gmail.com</p>

<p>Welcome if you want more information send email source0r32@gmail.com</p>
